h1{
    color: #ff6666;
	text-align:center;
	font-size:4vw;
}
p{
    color: #ff6666;
	text-align:center;
	font-size:2vw;
}
body{
	margin:0;
}
#header{
	background-color:#00cc44;
	padding:10px;
}
#left{
	padding:20px;
	margin-left:10px;
	margin-right:1px;
	background-color:#00cc44;
	float:left;
	margin:1 em;
}
#right{
	padding:20px;
	margin-right:10px;
	margin-left:1px;
	background-color:#00cc44;
	float:right;
	margin:1 em;
}
img{
	max-width:100%;
	margin:auto;
	height:35vw;
}
div.kuva{
	max-width:44%;
	margin-top:20px;
}
@media only screen and (max-width:750px){
	.kuva{
		width:100%;
	}
} 